.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.fill-height {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100vh;
}

.side-nav {
  width: 15%;
  background: white;
  border-right: 1px solid #d1cfcf;
}

.category {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.category-btn {
  padding: 10px 15px;
  background: #cfe2ff;
  /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); */
}

.category-btn:hover {
  cursor: pointer;
}

.category h3 {
  margin: 10px;
}

.cr-pod-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 80%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #0d6efd;
}